<div class="selected">
  <div class="label-block">
    <app-form-label>
      {{ label }}
    </app-form-label>

    <button
      class="button button--gray button--small"
      type="button"
      (click)="toggleModalMode()"
    >
      Add {{ label }}
    </button>
  </div>

  <app-multiselect-list
    [listItems]="selectedItems"
    [singleItemIsRemovable]="singleItemIsRemovable"
    [confirmRemovalMessage]="confirmRemovalMessage"
    (removeListItem)="removeListItem.emit($event)"
  ></app-multiselect-list>
</div>

<div class="add">
  <app-multiselect-add
    [ngrxFormControl]="searchControl"
    [label]="label"
    [listItems]="listItems"
    [modalMode]="modalMode"
    [totalListItemsCount]="listItems.length"
    [keyControls]="keyControls"
    [searchFieldValidationPattern]="searchFieldValidationPattern"
    [invalidSearchFieldText]="invalidSearchFieldText"
    [noSearchFieldMatchText]="noSearchFieldMatchText"
    [noListItemsText]="noListItemsText"
    [fewListItemsText]="fewListItemsText"
    [allListItemsSelectedText]="allListItemsSelectedText"
    [justAddedText]="justAddedText"
    (toggleKeyControls)="toggleKeyControls.emit()"
    (closeModalMode)="toggleModalMode()"
    (addListItem)="addListItem.emit($event)"
    (removeListItem)="removeListItem.emit($event)"
  ></app-multiselect-add>
</div>
