.text-label {
  color: #413741;
  font-size: 14;
  letter-spacing: 0.04;
  line-height: 1.333;
}
.text-field {
  padding: 10 0;
  border-bottom-width: 2;
  border-bottom-color: #6f989e;
}
.text-field::highlighted {
  border-bottom-color: #0092a8;
}
.text-field--error::highlighted {
  border-bottom-color: #b92855;
}
.text-field--valid::highlighted {
  border-bottom-color: #6cc780;
}
