@import '../../../styles/colors';

.container {
  list-style: none;
  margin: 0 -15px 20px;
  padding: 13px 15px 1px;
  background-color: $color-onahau;
  border: 1px solid $color-deep-cerulean;
}

.message {
  margin-bottom: 10px;
}
