<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  style="position:absolute; width: 0; height: 0"
>
  <symbol viewBox="0 0 1000 1000" id="icon-autofill">
    <path
      d="M978.21,1000H3.14V393.77H377.57v69.45h-305V930.55H908.76V622.29h69.45ZM833.47,517.13l114.09-82.56L860.41,317l-45.29-22.36,55-1.15,126.7-41.85L953.29,115.24l-129,42.43-39,29.24,18.92-47V0H660.9V139.89l18.92,47-39-29.24-129-42.43L468.26,251.69l127.28,41.85,55,1.15L604.71,317,517.57,434.57l114.09,82.56L718.8,400.75l13.76-55,14.33,55ZM370.63,674.82l-20.86,62.24-2.35-62.24-5.62-126H230l44.89,295L320.42,877l285.74-41.26V715.3l-126.72,36.2-12.79,3.38-34,9-12.5,3.3,39.08-35.71L586.6,576.73,476.86,497.33Z"
    />
  </symbol>
  <symbol viewBox="0 0 1000 1000" id="icon-copy-username">
    <path
      d="M854.29,1000H528.77c-59.22,0-99.44-36.13-99.44-96.47,0-84.17,19.74-213.41,128.87-213.41,11.54,0,60.34,51.77,133.34,51.77s121.79-51.77,133.34-51.77c109.13,0,128.87,129.24,128.87,213.41C953.74,963.87,913.51,1000,854.29,1000ZM691.53,663.21a143,143,0,1,1,143-143A143.05,143.05,0,0,1,691.53,663.21ZM359.35,819.75H130.85V115.48h99V30.89h-129a54.6,54.6,0,0,0-54.6,54.59V849.74a54.6,54.6,0,0,0,54.6,54.59H353.24c0-.27,0-.53,0-.8A547.68,547.68,0,0,1,359.35,819.75Zm364-704.27V303.63A217.44,217.44,0,0,1,808,334.87V85.48a54.6,54.6,0,0,0-54.6-54.59h-129v84.58ZM619.74,154.18H556.67V22.48C556.67,10.53,546.12,0,534.18,0H320c-11.94,0-22.49,10.53-22.49,22.48V154.18H234.48c-11.94,0-22.48,10.54-22.48,22.49v78.81c0,11.94,10.53,22.49,22.48,22.49H619.74c11.94,0,22.48-10.54,22.48-22.49V176.67C642.22,164.73,631.68,154.18,619.74,154.18ZM427.11,157A47.93,47.93,0,1,1,475,109.07,47.93,47.93,0,0,1,427.11,157Z"
    />
  </symbol>
  <symbol viewBox="0 0 1000 1000" id="icon-copy-password">
    <path
      d="M694.37,870.74l-16.63-63.87-16,63.87L560.64,1005.8,428.24,910,529.37,773.6l53.23-25.95-63.87-1.33L371,697.76l50.56-158.35,149.7,49.23,45.24,33.93-22-54.56V405.68H760.9V568l-22,54.56,45.24-33.93,149.7-49.23,50.56,158.35-147,48.57-63.87,1.33L826.1,773.6,927.23,910l-132.4,95.81Zm-1.71-749.46V329.56H760.9a76.09,76.09,0,0,1,16.35,1.86V91.28a54.6,54.6,0,0,0-54.6-54.59h-129v84.58ZM396.08,825.55h-296V121.28h99V36.69h-129a54.6,54.6,0,0,0-54.6,54.59V855.54a54.6,54.6,0,0,0,54.6,54.59h262.3ZM589,160H528.39V28.28c0-11.94-10.54-22.48-22.49-22.48H291.76c-11.94,0-22.49,10.53-22.49,22.48V160H203.77c-11.94,0-22.48,10.54-22.48,22.49v78.81c0,11.94,10.53,22.49,22.48,22.49H589c11.94,0,22.48-10.54,22.48-22.49V182.47C611.5,170.53,601,160,589,160ZM396.4,162.8a47.93,47.93,0,1,1,47.93-47.93A47.93,47.93,0,0,1,396.4,162.8Z"
    />
  </symbol>
  <symbol viewBox="0 0 1792 1792" id="icon-check">
    <path
      d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"
    />
  </symbol>
  <symbol viewBox="0 0 1792 1792" id="icon-external-link">
    <path
      d="M1408 928v320q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h704q14 0 23 9t9 23v64q0 14-9 23t-23 9h-704q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-320q0-14 9-23t23-9h64q14 0 23 9t9 23zm384-864v512q0 26-19 45t-45 19-45-19l-176-176-652 652q-10 10-23 10t-23-10l-114-114q-10-10-10-23t10-23l652-652-176-176q-19-19-19-45t19-45 45-19h512q26 0 45 19t19 45z"
    />
  </symbol>
  <symbol viewBox="0 0 1792 1792" id="icon-edit">
    <path
      d="M888 1184l116-116-152-152-116 116v56h96v96h56zm440-720q-16-16-33 1l-350 350q-17 17-1 33t33-1l350-350q17-17 1-33zm80 594v190q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q63 0 117 25 15 7 18 23 3 17-9 29l-49 49q-14 14-32 8-23-6-45-6h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-126q0-13 9-22l64-64q15-15 35-7t20 29zm-96-738l288 288-672 672h-288v-288zm444 132l-92 92-288-288 92-92q28-28 68-28t68 28l152 152q28 28 28 68t-28 68z"
    />
  </symbol>
  <symbol viewBox="0 0 1408 1792" id="icon-trash">
    <path d="M512 736v576q0 14-9 23t-23 9h-64q-14 0-23-9t-9-23v-576q0-14 9-23t23-9h64q14 0 23 9t9 23zm256 0v576q0 14-9 23t-23 9h-64q-14 0-23-9t-9-23v-576q0-14 9-23t23-9h64q14 0 23 9t9 23zm256 0v576q0 14-9 23t-23 9h-64q-14 0-23-9t-9-23v-576q0-14 9-23t23-9h64q14 0 23 9t9 23zm128 724v-948h-896v948q0 22 7 40.5t14.5 27 10.5 8.5h832q3 0 10.5-8.5t14.5-27 7-40.5zm-672-1076h448l-48-117q-7-9-17-11h-317q-10 2-17 11zm928 32v64q0 14-9 23t-23 9h-96v948q0 83-47 143.5t-113 60.5h-832q-66 0-113-58.5t-47-141.5v-952h-96q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h309l70-167q15-37 54-63t79-26h320q40 0 79 26t54 63l70 167h309q14 0 23 9t9 23z"></path>
  </symbol>
</svg>
