<DockLayout stretchLastChild="true" class="auth-container">
  <FlexboxLayout
    dock="bottom"
    class="m-t-10 m-b-10 m-l-25 m-r-25"
    flexDirection="row"
    justifyContent="flex-end"
  >
    <app-button text="Download" (tap)="print()"></app-button>
  </FlexboxLayout>

  <ScrollView #ScrollList>
    <StackLayout class="p-t-20 p-l-25 p-r-25" orientation="vertical">
      <app-backup-code></app-backup-code>
      <StackLayout class="p-t-20 p-b-20" #printArea>
        <app-heading text="Backup Code for Account Recovery"></app-heading>
        <label
          class="m-b-10 m-t-20 heading-two heading-two-deep-cerulean"
          textWrap="true"
          text="Save this somewhere safe"
        ></label>
        <label
          class="m-b-10"
          textWrap="true"
          text="This is your backup code. Use this to recover your account if you forget your password."
        >
        </label>

        <label
          class="m-b-10"
          textWrap="true"
          text="Either print this out and put it in a secure location, or save it on a USB or external hard drive."
        ></label>
        <label
          class="m-b-10"
          textWrap="true"
          text="Remember, anyone who gains access to this code and your email account can access your Passit account."
        ></label>

        <label
          class="m-b-10 heading-two heading-two-deep-cerulean"
          textWrap="true"
          text="Recover your account"
        ></label>
        <label class="m-b-10" text="1. Go to app.passit.io"></label>
        <label
          class="m-b-10"
          textWrap="true"
          text="2. On the login page, press 'Recover your account'"
        ></label>
        <label class="m-b-10" text="3. Confirm your email address"></label>
        <label
          class="m-b-10"
          textWrap="true"
          text="4. Scan the QR code below, or paste/type in the code manually"
        ></label>
        <GridLayout columns="100, *">
          <image
            col="0"
            #barcodeImg
            id="barcode-img"
            height="100"
            width="100"
          ></image>
          <StackLayout class="m-t-5" col="1">
            <label
              textWrap="true"
              text="If you have issues scanning the QR code, enter the code below manually."
            ></label>
            <label class="m-t-5" textWrap="true">
              <FormattedString>
                <span text="Created on "></span>
                <span [text]="getDate() | date:'medium'"></span>
              </FormattedString> </label
          ></StackLayout>
        </GridLayout>
        <label
          class="m-b-10 backup-code"
          textAlignment="center"
          textWrap="true"
          [text]="styleBackupCode()"
        ></label> </StackLayout
    ></StackLayout>
  </ScrollView>
</DockLayout>
