<div class="account l-container-narrow u-margin-tb-50">
  <h2 class="heading-main">Account Management</h2>

  <ul class="account__list">
    <li class="account__list-item">
      <h3 class="account__item-heading">
        <app-text-link [link]="['./change-password']" caret="right">
          Change Account Password &amp; Backup&nbsp;Code
        </app-text-link>
      </h3>
    </li>

    <li class="account__list-item">
      <h3 class="account__item-heading">
        <app-text-link [link]="['./manage-mfa']" caret="right">
          Manage Two-Factor Authentication
        </app-text-link>
      </h3>
    </li>

    <li class="account__list-item">
      <h3 class="account__item-heading">
        <app-text-link [link]="['./change-backup-code']" caret="right">
          Change Backup Code
        </app-text-link>
      </h3>
    </li>

    <li class="account__list-item">
      <h3 class="account__item-heading">
        <app-text-link [link]="['./error-reporting']" caret="right">
          Error Reporting
        </app-text-link>
      </h3>
    </li>

    <li class="account__list-item">
      <h3 class="account__item-heading">
        <app-text-link [link]="['./delete']" caret="right">
          Delete Account
        </app-text-link>
      </h3>
    </li>

    <li class="account__list-item">
      <h3 class="account__item-heading">
        <app-text-link (click)="logout()" href="#" caret="right">
          Log Out
        </app-text-link>
      </h3>
    </li>
  </ul>
  <br /><br />

  <h2 class="heading-main">Browser Extensions</h2>

  <ul class="account__list">
    <li class="account__list-item">
      <span
        class="account__icon-extension"
        [inlineSVG]="'../assets/svg/firefox-icon.svg'"
      ></span>
      <h3 class="account__item-heading">
        <app-text-link
          caret="right"
          isExternal="true"
          link="https://addons.mozilla.org/addon/passit_io/"
        >
          Get Firefox Add-On
        </app-text-link>
      </h3>
    </li>

    <li class="account__list-item">
      <span
        class="account__icon-extension"
        [inlineSVG]="'../assets/svg/chrome-icon.svg'"
      ></span>
      <h3 class="account__item-heading">
        <app-text-link
          caret="right"
          link="https://chrome.google.com/webstore/detail/passit/pgcleadjbkbghamecomebcdakdmahkeh"
          isExternal="true"
        >
          Get Chrome Extension
        </app-text-link>
      </h3>
    </li>
  </ul>
  <br /><br />

  <h2 class="heading-main">Data Management</h2>

  <ul class="account__list">
    <li class="account__list-item">
      <h3 class="account__item-heading">
        <app-text-link caret="right" [link]="['../import']">
          Import Passwords
        </app-text-link>
      </h3>
    </li>

    <li class="account__list-item">
      <h3 class="account__item-heading">
        <app-text-link caret="right" [link]="['../export']">
          Export Passwords
        </app-text-link>
      </h3>
    </li>
  </ul>
</div>
